<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hoos Up - Activity</title>
</head>
<body>
    <h1>Current Activity</h1>
    {% if user.is_authenticated %}
        <h2>{{ activity }}</h2>
    {% endif %}
    <form id="update-activity" action="{% url 'hoosuprightnow:update_activity' %}" method="POST">
        {% csrf_token %}
        <input type="text" maxlength="100" name="activity" required>
        {% if user.is_authenticated %}
            <button type="submit" form="update-activity">Update</button>
        {% else %}
            <a href="{% url 'login' %}"><input type="button" value="Update"></a>
        {% endif %}
    </form>
 </body>
</html>